body{
	margin: 0;
	padding: 0;
	background: #222;
}

canvas{
	display: block;
}

.font-loader{
	position: absolute;
	left: -2000px;
	content: "woo";
	visibility: hidden;
}

.game-container{
	display: flex;
	justify-content: center;
	align-items: center;
}